@charset "UTF-8";
/* line 5, ../../../../../Users/jyane/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Users/jyane/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Users/jyane/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Users/jyane/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Users/jyane/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Users/jyane/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Users/jyane/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Users/jyane/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Users/jyane/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/lib/_base.sass */
html {
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 8, ../sass/lib/_base.sass */
body {
  background: #FFF;
  color: #000;
  font-size: 12;
}

/* line 14, ../sass/lib/_base.sass */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
}

/* line 17, ../sass/lib/_base.sass */
a, p, li, dt, dd, th, td, figcaption {
  line-height: 1.5;
}

/* line 20, ../sass/lib/_base.sass */
a {
  color: #00F;
  text-decoration: underline;
}
/* line 23, ../sass/lib/_base.sass */
a:hover {
  text-decoration: none;
}

/* line 26, ../sass/lib/_base.sass */
img {
  vertical-align: bottom;
}

/* line 29, ../sass/lib/_base.sass */
table {
  width: 100%;
}

/* line 32, ../sass/lib/_base.sass */
b, strong {
  font-weight: bold;
}

/* line 35, ../sass/lib/_base.sass */
a:hover img,
input[type="submit"]:hover,
input[type="reset"]:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

/* line 41, ../sass/lib/_base.sass */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 50, ../sass/lib/_base.sass */
button {
  overflow: visible;
}

/* line 53, ../sass/lib/_base.sass */
button,
select {
  text-transform: none;
}

/* line 57, ../sass/lib/_base.sass */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 64, ../sass/lib/_base.sass */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 68, ../sass/lib/_base.sass */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 73, ../sass/lib/_base.sass */
input {
  line-height: normal;
}

/* line 76, ../sass/lib/_base.sass */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 81, ../sass/lib/_base.sass */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 86, ../sass/lib/_base.sass */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 92, ../sass/lib/_base.sass */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 3, ../sass/lib/_lib.sass */
.clearfix {
  *zoom: 1;
}
/* line 38, ../../../../../Users/jyane/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 6, ../sass/lib/_lib.sass */
.hide {
  display: none !important;
}

/* line 9, ../sass/lib/_lib.sass */
.show {
  display: block !important;
}
